body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://media.istockphoto.com/id/801948192/photo/splash-fresh-drop-in-water-close-up.jpg?s=170667a&w=0&k=20&c=byz8e2xGOtwzQCe9UtSDyQTXPUxeM4k2BM19zZBa2N8=);
}
    h1
    {
        text-transform:uppercase ;
        letter-spacing: 4px;
        font-size: 14px;
        text-align: center;

    }
.clock
{
    display: flex;
}
.clock S